// colors
$base-color: #101244;
$base-accent: #311975;
$second-color: #fff;
$third-color: #09c0d4;
// font size
$title-font-size-mobile: 32px;
$title-font-size: 64px;
// font weigth
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
